
tr { 
    background: #eee; 
    
    }
    
th { 
    background: #008CBA;
    color: white; 
    font-weight: bold; 
    
    }

   
th,td{
  
   
    padding: 5px;

}




input {
    padding:5px; 
    border:2px solid #008CBA; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}



.style-select {
    padding:5px; 
    border:2px solid #008CBA; 
   /*-webkit-border-radius: 100px; */
    border-radius: 5px;
    color: #000;
}

.style-select:focus {
    border-color:red;
}



input:focus {
    border-color:red;
}



textarea {
    padding:5px; 
    border:2px solid #008CBA; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

textarea:focus {
    border-color:red;

}



nav.navbar {
    
    background-color: #008CBA;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    
}
            
            
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #000000;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.alert {
   width:50%;    
}


#divproducto .modal-dialog {
    max-width: 100%; /* Ajusta el ancho del modal según tus necesidades */
}
